<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla facilis rerum eos aliquid aut rem accusantium ratione tempora sapiente, id porro at quo iste similique suscipit odio laudantium doloremque temporibus.</p>
    </div>
</div>